      li{
        color:blue;
      }
      
      .done
        { color: red;
      
      }   
      
      #clear
          { color: white;
            background-color:red;}
            /* 
            so as it seems like i am nothing of a good developer but its so early to say anything that why i am not deciding untill i have made 10 projects at least */