body
    {
      background-color
                      }


h1 a
    {
      font-size:20px;
      color:teal;
                      }
    
#dis a
    {
       font-weight: bold;
       color: red;
                      } 