div{
  width:210px;
  border:1px grey solid;
  border-radius:5px;
  text-align:center;
  /* now these are my modifiers */
  margin:20px;
  padding:5px;
  background-color:rgb(205, 180, 219);
  
}

img{
  width:300px;
  /* now this is my edits */
  border:2px rgb(236,183,191) solid;
  border-radius:2%;
  margin:40px;
}