body{
  display:flex;
  align-items:center;
  justify-content: center;
  hight:100vh;
  background-color: #151b29;
  
}

button{
  /* margin: 50% 50%; */
  /* i don't know why givinig auto isn't working in this margin?, but i'll leave it for now cz can't be using all time in just making something perfect rather it might be some parsing errors so wasting time isn't worht it. :p */
  
  background:none;
  color:#ffa260;
  border:2px solid;
  padding:1em 2em;
  font-size:1em;
  transition:all 0.25s;
  font-family:'roboto',sans-serif;
  
}

button:hover{
  border-color:#f1ff5c;
  color:white;
  box-shadow:0 0.5em 0.5em -0.4em #f1ff5c;
  transform: translateY(-0.25em);
  cursor:pointer;
}